<div class="col-md-12">

		<div class="loader" *ngIf="loading == 'show'">
				<img src="assets/img/loader.gif">
			</div>
	<div class="col-md-12" *ngIf="!loading || task">		
			<h3>{{page_title}}</h3>

			<div class="alert alert-success" *ngIf="status_task == 'success'">
				La tarea se ha creado correctamente
			</div>
			<div class="alert alert-danger" *ngIf="status_task == 'error'">
				La tarea no se ha creado
			</div>

			<form #taskNewForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7 no-padding">
				<p>
					<label>Titulo</label>
					<input type="text" class="form-control" name="title" #title="ngModel" [(ngModel)]="task.title" required />
					<span *ngIf="!title.valid && title.touched">
						El titulo no es correcto
					</span>
				</p>
				<p>
					<label>Descripcion</label>
					<textarea  class="form-control" name="description" #description="ngModel" [(ngModel)]="task.description"></textarea>
					<span *ngIf="!description.valid && description.touched">
						La descripcion no es correcto
					</span>
				</p>
				<p>
					<label>Estado</label>
					<select class="form-control" name="status" #status="ngModel" [(ngModel)]="task.status">
						<option value="new">Nueva tarea</option>
						<option value="todo">Para hacer</option>
						<option value="finished">Terminada</option>
					</select>
				</p>
				<input type="submit" value="{{page_title}}" class="btn btn-success" [disabled]="!taskNewForm.form.valid">
			</form>
</div>
</div>